<!DOCTYPE html>
<html ng-app="">

	<head>
		<title>A placeholder title</title>
		<!---
		<link rel="stylesheet" href="bootstrap.css" type="text/css">
		--->
		<link rel="stylesheet" href="common/style.css" type="text/css">
		<script src="js/script.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/module.js"></script>

		<meta charset="utf-8">
	</head>

	<body>
		<div id="main_wrapper" ng-controller="mainController" ng-init="getFromJson('restaurants/sample/menu.json')">
			<div id="header">
				Hello World!
			</div>
			<div id="menu" ng-repeat="data in dataFromJson">
				<input type="number" class="input" min="0" name={{data.price}} ng-model="quantity"> {{ data.name }} - {{ data.description }}<br>

{{ data.price | currency }} each / {{ data.price * quantity | currency }} total
 <br>
			</div>

			<div id="subtotal">
				Subtotal - {{ calculateSubtotal() | currency}}
			</div>

			<div id="pay">
				<input type="button" value="Pay now" ng-click="calculateAndPaySubtotal()">
			</div>


		</div>
	</body>

</html>
