<div id='menu'>
	<div ng-repeat="item in menu">
		<div class="col-md-3 col-sm-6 hero-feature">
	    	<div class="thumbnail">
	        	<img src="./img/rsz_crabby2.jpg" alt="">
	        	<div class="caption">
	            	<h3>{{ item.name }}</h3>
	            	<p>{{ item.description }}
	            	<center>{{ item.price | currency }}</center><br>
	            	<p>
	                	Quantity: <input ng-model="quantity" class="input" id={{item.name}} name={{item.price}} type="number" min="0" size="1" placeholder="0">
	            	</p>

	        	</div>
	    	</div>
		
		</div>
	</div>
	<div id="subtotal">
		Subtotal - {{ calculateSubtotal() | currency}}
	</div>		
</div>

<div id="pay">
	<input type="text" placeholder="Name" ng-model="customerName">
	<input type="text" placeholder="Phone Number"  ng-model="phoneNumber">
	<input type="button" value="Pay now" ng-click="calculateAndPaySubtotal()">
</div>