<div id='menu'>
	<div ng-repeat="item in menu">
		<div class="col-md-3 col-sm-6 hero-feature">
	    	<div class="thumbnail">
	        	<img src="./img/rsz_crabby2.jpg" alt="">
	        	<div class="caption">
	            	<h3>{{ item.name }}</h3>
	            	<p>{{ item.description }}
	            	<center>{{ item.price | currency }}</center><br>
	            	<p>
	                	Quantity: <input ng-model="quantity" class="input" id={{item.name}} name={{item.price}} type="number" min="0" size="1" placeholder="0">
	            	</p>

	        	</div>
	    	</div>

		</div>
	</div>
</div>

<div style="clear: both"></div>

<div id="checkout" style="margin-left: auto;
						  margin-right: auto;
						  text-align: center">
	<div id="subtotal">
		<span style="font: 24px bold">Subtotal - <span style="color: blue">{{ calculateSubtotal() | currency}}</span></span>
	</div>
	<div id="pay" style="margin: 5px">
		<input type="text" placeholder="Name" ng-model="customerName" size="15">
		<input type="text" placeholder="Phone Number"  ng-model="phoneNumber" size="25"><br><br>
		<input type="button" value="Pay now" ng-click="calculateAndPaySubtotal()">
	</div>
</div>
